body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(231, 62, 62);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  .problema {
    font-size: x-large;
    color: brown;
    text-align: center;
  }

  .nicho {
    font-size: large;
    color: blue;
    text-align: center;
  }

  .proposta_de_valor {
    font-size: large;
    color: #000000;
    text-align: center;
  }

  #ibsem {
    font-size: large;
    color: rgb(14, 24, 3);
    text-align: center;
  }